.drawings {
  margin: 75px 0;
}

.drawings-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawings-box-icon {
  margin-bottom: 10px;
  width: 50px;
}

.drawings-box-title {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: default;
}

.drawings-box-title:hover {
  letter-spacing: 10px;
}

.drawings-box-text {
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin: 50px 0;
}

.drawings .drawingsBox-carousel-li {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.drawings .drawingsBox-carousel-li-slide-img {
  border-radius: 20px;
}

.drawings-carousel {
  width: 50%;
  margin: 0 auto;
}

.drawings-carousel-slide-img {
  height: 100px;
  border-radius: 20px;
}

.drawings-carousel .slick-prev {
  font-size: 0;
  background: url(../imgs/icon-setaE.png) no-repeat;
  background-position: center;
  height: 65px;
  width: 185px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  right: 10px;
  outline: none;
}

.drawings-carousel .slick-prev:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.drawings-carousel .slick-next {
  font-size: 0;
  background: url(../imgs/icon-setaD.png) no-repeat;
  background-position: center;
  height: 65px;
  width: 185px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  left: 10px;
  outline: none;
}

.drawings-carousel .slick-next:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.drawings .atom {
  height: 45px;
  width: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 50%;
  -webkit-animation: bounce 2.5s infinite, shine 5s infinite;
          animation: bounce 2.5s infinite, shine 5s infinite;
}

.drawings .atom-circle {
  height: 200px;
  width: 100px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.drawings .atom .one {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.drawings .atom .one::after {
  content: '';
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 0.8s linear infinite;
          animation: rotate 0.8s linear infinite;
}

.drawings .atom .one::before {
  content: '';
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 0.7s linear infinite;
          animation: rotate 0.7s linear infinite;
}

.drawings .atom .two {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawings .atom .two::after {
  content: '';
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 0.7s linear infinite;
          animation: rotate 0.7s linear infinite;
}

.drawings .atom .three {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawings .atom .three::after {
  content: '';
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 0.8s linear infinite;
          animation: rotate 0.8s linear infinite;
}

.drawings .atom .three::before {
  content: '';
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 0.7s linear infinite;
          animation: rotate 0.7s linear infinite;
}

@-webkit-keyframes bounce {
  0% {
    top: 50px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 50px;
  }
}

@keyframes bounce {
  0% {
    top: 50px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 50px;
  }
}

@-webkit-keyframes shine {
  0% {
    -webkit-box-shadow: 0px 0px 8px 0px white;
            box-shadow: 0px 0px 8px 0px white;
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 0px white;
            box-shadow: 0px 0px 20px 0px white;
  }
  100% {
    -webkit-box-shadow: 0px 0px 8px 0px white;
            box-shadow: 0px 0px 8px 0px white;
  }
}

@keyframes shine {
  0% {
    -webkit-box-shadow: 0px 0px 8px 0px white;
            box-shadow: 0px 0px 8px 0px white;
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px 0px white;
            box-shadow: 0px 0px 20px 0px white;
  }
  100% {
    -webkit-box-shadow: 0px 0px 8px 0px white;
            box-shadow: 0px 0px 8px 0px white;
  }
}

@-webkit-keyframes rotate {
  0% {
    right: -10%;
    top: 50%;
  }
  11% {
    right: -33%;
    top: 39%;
  }
  18% {
    right: -43%;
    top: 28%;
  }
  24% {
    right: -50%;
    top: 10%;
  }
  30% {
    right: -50%;
    top: -10%;
  }
  36% {
    right: -44%;
    top: -27%;
  }
  42% {
    right: -32%;
    top: -39%;
  }
  48% {
    right: -15%;
    top: -49%;
  }
  54% {
    right: 15%;
    top: -49%;
  }
  60% {
    right: 33%;
    top: -39%;
  }
  66% {
    right: 44%;
    top: -27%;
  }
  72% {
    right: 50%;
    top: -10%;
  }
  78% {
    right: 50%;
    top: 10%;
  }
  84% {
    right: 43%;
    top: 28%;
  }
  90% {
    right: 32%;
    top: 39%;
  }
  96% {
    right: 10%;
    top: 50%;
  }
}

@keyframes rotate {
  0% {
    right: -10%;
    top: 50%;
  }
  11% {
    right: -33%;
    top: 39%;
  }
  18% {
    right: -43%;
    top: 28%;
  }
  24% {
    right: -50%;
    top: 10%;
  }
  30% {
    right: -50%;
    top: -10%;
  }
  36% {
    right: -44%;
    top: -27%;
  }
  42% {
    right: -32%;
    top: -39%;
  }
  48% {
    right: -15%;
    top: -49%;
  }
  54% {
    right: 15%;
    top: -49%;
  }
  60% {
    right: 33%;
    top: -39%;
  }
  66% {
    right: 44%;
    top: -27%;
  }
  72% {
    right: 50%;
    top: -10%;
  }
  78% {
    right: 50%;
    top: 10%;
  }
  84% {
    right: 43%;
    top: 28%;
  }
  90% {
    right: 32%;
    top: 39%;
  }
  96% {
    right: 10%;
    top: 50%;
  }
}
/*# sourceMappingURL=drawings.css.map */