$vermelho: #C80F0E;
$preto: #000;
$branco: #fff;
$azul: #1400FF;
$roxo: #CC1DD0;
.drawings{
    margin: 75px 0;
    &-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-icon{
            margin-bottom: 10px;
            width: 50px;
        }
        &-title{
            color: $branco;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
            transition: 0.5s;
            cursor: default;
            &:hover{
                letter-spacing: 10px;
            }
        }
        &-text{
            color: #fff;
            text-align: center;
            line-height: 25px;
            margin: 50px 0;
        }
    }
    .drawingsBox{

        &-carousel{
            &-li{
                display: flex !important;
                justify-content: center;
                align-items: center;
                height: auto;
                &-slide{
                    &-img{
                        border-radius: 20px;
                    }
                }
            }
        }
    }


    &-carousel{
        width: 50%;
        margin: 0 auto;
        &-slide{
            &-img{
                height: 100px;
                border-radius: 20px;
            }
        }
        .slick-prev{
            font-size: 0;
            background: url(../imgs/icon-setaE.png) no-repeat;
            background-position: center;
            height: 65px;
            width: 185px;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            position: relative;
            right: 10px;
            outline: none;
            &:hover{
                transform: scale(1.2);
            }
        }
        .slick-next{
            font-size: 0;
            background: url(../imgs/icon-setaD.png) no-repeat;
            background-position: center;
            height: 65px;
            width: 185px;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            position: relative;
            left: 10px;
            outline: none;
            &:hover{
                transform: scale(1.2);
            }
        }
    }

    .atom {
        height: 45px;
        width: 45px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 50%;
        animation: bounce 2.5s infinite, shine 5s infinite;
    
        &-circle {
            height: 200px;
            width: 100px;
            background: transparent;
            border-radius: 50%;
            border: 3px solid white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
        }
    
        .one {
            transform: rotate(0deg);
            &::after {
                content: '';
                height: 10px;
                width: 10px;
                background: white;
                border-radius: 50%;
                position: relative;
                animation: rotate 0.8s linear infinite;
            }
            &::before {
                content: '';
                height: 10px;
                width: 10px;
                background: white;
                border-radius: 50%;
                position: relative;
                animation: rotate 0.7s linear infinite;
            }
        }
    
        .two {
            transform: rotate(45deg);
            &::after {
                content: '';
                height: 10px;
                width: 10px;
                background: white;
                border-radius: 50%;
                position: relative;
                animation: rotate 0.7s linear infinite;
            }
        }
        .three {
            transform: rotate(-45deg);
            &::after {
                content: '';
                height: 10px;
                width: 10px;
                background: white;
                border-radius: 50%;
                position: relative;
                animation: rotate 0.8s linear infinite;
            }
            &::before {
                content: '';
                height: 10px;
                width: 10px;
                background: white;
                border-radius: 50%;
                position: relative;
                animation: rotate 0.7s linear infinite;
            }
        }
    }
    @keyframes bounce{
        0%{
            top: 50px;
        }
        50%{
            top: 0;
        }
        100%{
            top: 50px;
        }
    }
    @keyframes shine{
        0%{
            box-shadow: 0px 0px 8px 0px white;
        }
        50%{
            box-shadow: 0px 0px 20px 0px white;
        }
        100%{
            box-shadow: 0px 0px 8px 0px white;
        }
    }
    @keyframes rotate {
        0% {
            right: -10%;
            top: 50%;
        }
    
        11% {
            right: -33%;
            top: 39%;
        }
    
        18% {
            right: -43%;
            top: 28%;
        }
    
        24% {
            right: -50%;
            top: 10%;
        }
    
        30% {
            right: -50%;
            top: -10%;
        }
    
        36% {
            right: -44%;
            top: -27%;
        }
    
        42% {
            right: -32%;
            top: -39%;
        }
    
        48% {
            right: -15%;
            top: -49%;
        }
    
        54% {
            right: 15%;
            top: -49%;
        }
    
        60% {
            right: 33%;
            top: -39%;
        }
    
        66% {
            right: 44%;
            top: -27%;
        }
    
        72% {
            right: 50%;
            top: -10%;
        }
    
        78% {
            right: 50%;
            top: 10%;
        }
    
        84% {
            right: 43%;
            top: 28%;
        }
    
        90% {
            right: 32%;
            top: 39%;
        }
    
        96% {
            right: 10%;
            top: 50%;
        }
    }
}